   <form method="post" action="create-student">
  <div class="container">
    <h1>Students Details</h1>
    <hr>

    <label><b>Name</b></label><br>
    <input type="text" placeholder="Enter Name" name="name" > <br><br>

    <label ><b>Email</b></label><br>
    <input type="text" placeholder="Enter Email" name="email" ><br><br>

  <label ><b>Age</b></label><br>
    <input type="number" placeholder="Enter Age" name="age" ><br><br>

    <hr>
  <br>
    <button class="registerbtn">Submit</button>
  </div>
</form>
